SERVER_PORT=8080
LOG_LEVEL=info
POSTGRES_DB=spare_parts
POSTGRES_USER=postgres
POSTGRES_PASSWORD=postgres
DATABASE_URL=postgres://postgres:postgres@localhost:5432/spare_parts?sslmode=disable
MIGRATIONS_PATH=internal/db/migrations
OFFER_PROVIDER_URLS=http://localhost:8081,http://localhost:8082,http://localhost:8083,http://localhost:8084
KAFKA_BROKERS=localhost:9096
KAFKA_OFFER_FETCHED_TOPIC=offer-fetched
KAFKA_OFFER_CONSUMER_GROUP=offer-price-worker
OTEL_EXPORTER_OTLP_ENDPOINT=localhost:4318
WORKER_METRICS_PORT=9091
